@import url('https://fonts.googleapis.com/css?family=Poppins:500');
body {
    font-family: 'Signika Negative', sans-serif;
    background-color: #373737;
    color: #000;
    font-size: 25px;
}

.stage {
    width: 90%;
    margin: 150px auto 0 auto;
    text-align: center;
}

.score,
.hteam,
.ateam,
.time {
    display: inline-block;
    width: 102px;
    height: 38px;
    background-color: #F6F6F6;
    line-height: 41px;
    text-align: center;
}

.score {
    position: relative;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.7);
    z-index: 2;
    margin: 0 -8px 0 -8px;
}

.score img {
    position: absolute;
    height: 75px;
    width: auto;
    top: -67px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.time {
    display: block;
    margin: 0 auto;
    letter-spacing: -1px;
}

.hteam,
.ateam {
    position: relative;
}

.hteam:before,
.ateam:after {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 6px;
    height: 38px;
}

.hteam:before {
    left: -8px;
    background-color: #ea2212;
}

.ateam:after {
    right: -8px;
    background-color: #034694;
}

.form-control {
    width: 50%;
}